*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", serif;
}
.top{font-weight: 400;}
.toplisttitle{
    font-weight: bolder;
    color : #067DEA;
}
.para{
    color: #636363;
    font-size: 14px;
}
.viewtoplist{
    background: #011E4F;
    border-radius: 50px;
    border-radius: 100px;
}
.viewarrow{background: #1CE7E7;}

/* ----------------------Carousel------------------- */
.owl-carousel .item {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: inline-block;
}
@media (max-width: 576px) {
    .viewtoplist{
        width: 360px;
    }
    .viewalltoplist{
        position: absolute;
        bottom: -245px;
        width: 100%;
    }
    .owl-dots{
        display: none;
    }
    .owl-nav{
        display: flex;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        width: 33px;
        border: 1px solid #011332;
        border-radius: 50%; 
        font-size: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }  
    .owl-prev{   position: absolute;
        top: -90px;
        right: 40px;}  
    .owl-next{   position: absolute;
        top: -90px;
        right: 0;}
}
@media (min-width: 768px)  {
    .owl-nav{
        display: none;
    }
}


.image-container img {
    width: 100%;  
    height: auto;  
    display: block;
}
.overlay-text {
    position: absolute;
    bottom: 0%;       
    background: linear-gradient(180deg, rgba(1, 19, 50, 0) 0%, #011332 53.89%);               
}
.carousel-sectionflag{
    position: absolute;
    right: 20px;
    top: 30px;
}
.email{color: #1CE7E7;}
.carousellocation{color: #FFFFFFBF;}
.carouselpara{
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: -2%;
    color: #FFFFFF73;
}
.seriol-no{
    position: absolute;
    top: -4px;
    left: -4px;
}
.like-user {
   margin-top: -7px;
   background: #8DF3F3;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
   font-weight: 700;
   font-size: 14px;
   line-height: 19px;
   letter-spacing: -2%;
}
.image-number {
    position: absolute;
    top: 6%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
}


